.container {
  display: flex;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}
.trailer {
  height: 400px;
  width: 100%;
  max-width: 800px;
  background-color: aquamarine;
}
.poster {
  height: 400px;
  width: 800px;
  background-size: cover;
  background-position: center;
}
.description {
  color: white;
  flex-grow: 1;
  padding: 2rem 0 0 2rem;
}
.title {
  border-bottom: 2px solid white;
  padding-bottom: 1.5rem;
}
.detail {
  margin: 1rem 0;
}
