.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  transition: background-color ease-in-out 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.bg {
  background-color: black;
}
.title {
  color: red;
}
.title:hover {
  cursor: pointer;
}
.title h2 {
  font-weight: 500;
}
.icon {
  color: #adb5bd;
}
.icon:hover {
  cursor: pointer;
}
