.listItem {
  flex-shrink: 0;
  width: 12rem;
  height: 18rem;
  background-size: contain;
  background-position: center;
  transition: scale ease-in-out 0.2s;
}
.listItem.backdrop {
  width: 15rem;
  height: 8.43rem;
}
.listItem:hover {
  scale: 1.1;
}
