.list {
  list-style: none;
  display: flex;
  gap: 1rem;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
  margin: 0 2rem 5rem 2rem;
  padding: 1.25rem 0;
}

.list::-webkit-scrollbar {
  height: 5px;
  width: 1rem;
}
.list::-webkit-scrollbar-track {
  background: #212529;
}
.list::-webkit-scrollbar-thumb {
  background: #495057;
  border-radius: 2.5px;
}
